@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Category</h5>
                <div class="">
                    <div class="">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search...">
                            <a href="#" class="search_icon"><i class="ti ti-search"></i></a>
                            <button class="btn btn-success add_button position-absolute" asp-area="Admin" asp-controller="Category" asp-action="Index">Add</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <table class="styled-table table table-striped" style="table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dom</td>
                                    <td>6000</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">Edit</button>
                                        <button type="button" class="btn btn-warning btn-sm">Detail</button>
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                                <!-- and so on... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

