@model ProjectCsharpGroup9.Models.User

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<form asp-action="SignUp" class="mt-4">
    <h3>Sign Up</h3>
    <label asp-for="FullName">FullName</label>
    <input asp-for="FullName" placeholder="FullName">
    <span asp-validation-for="FullName" class="text-danger"></span>      
    
    <label asp-for="BirthDay"></label>
    <input asp-for="BirthDay" />
    <span asp-validation-for="BirthDay"></span>

    <label asp-for="UserName">Username</label>
    <input asp-for="UserName" placeholder="Username">
    <span asp-validation-for="UserName" class="text-danger"></span>

    <label asp-for="Email">Email</label>
    <input asp-for="Email" placeholder="Email">
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="PhoneNumber">Phone Number</label>
    <input asp-for="PhoneNumber" placeholder="PhoneNumber">
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" placeholder="Password">
    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="Address">Address</label>
    <input asp-for="Address" placeholder="Address">
    <span asp-validation-for="Address" class="text-danger"></span>

    <button type="submit">Sign Up</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
    </div>
    <div class="text-signup">
        <p>Have an account?</p>
        <a asp-controller="User" asp-action="Login">Login</a>
    </div>
</form>

