<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="User/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="User/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="User/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="User/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="User/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="User/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="User/css/owl.carousel.min.css">
	<link rel="stylesheet" href="User/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="User/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="User/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="User/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
